

body {
	margin: 0;
  text-align: center;
}

#poyta{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-gap: 7px;

}

.cell {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
  text-align: center;
  font-size: 70px;
  border-color: white;
  background-color: grey;
  border-radius: 15px;
  color: red;

}

button {
  margin-top: 50px;
}

.uusiclassi {
	color: blue;
}
